
.recipeCard {
    height: 400px;
}

img {
    height: 50%;
}

.cardBody {
    overflow: hidden;
}

.recipeLink {
    padding: 0;
    color: black;
    text-decoration: none;
    &:hover {
        color:black;
    }
}