.recipe {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(#FFE2AD, orange, rgb(255, 89, 0)) border-box;
    border: 2px solid transparent;
}

.listItemContainer {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    .listItem {
        display: inline;
        list-style-type: circle;
        margin-right: 15px;
    }
    .deleteButton {
        font-size: .8rem;
        display: inline;
        padding: 5px 10px;
        border-radius: 5px;
    }
}

.dietaryRestrictions {
    display: flex;
    justify-content: space-around;
}
