.createRecipe {
    padding: 20px;
    background: #e8d9a4;
    margin-top: 75px;
}

.inputLabel {
    margin-right: 15px;
    width: 100px;
}

.dropdown {
    width: 500px;
    border: none;
    .menu {
        height: 50px;
    }
}