@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$content-font:  'Poppins', sans-serif;

$nav-height: 56px;

$container-padding-x: 0px;

// Modal Variable Re-Definitions
$modal-content-bg: rgba(0, 0, 0, 0.756);
$modal-header-border-color: rgb(140, 130, 130);
$nav-pills-border-radius: 1px;
$nav-pills-link-active-color: white;
$nav-pills-link-active-bg: orange;
$nav-link-padding-y: .25rem;
$nav-link-padding-x: .75rem;
$nav-link-color: white;
$nav-link-hover-color: white;
$form-label-color:  white;
$btn-border-radius: 0;
$success: orange;
// $modal-dialog-margin: 1rem;

@import '~bootstrap/scss/bootstrap.scss';

* {
    padding: 0;
    box-sizing: border-box;
    font-family: $content-font;
}

html {
    font-size: 1rem;
}

body {
    scrollbar-width: thin;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.App {
    display: flex;
    flex-direction: column;
}

.App-header {
    height: $nav-height;
    position: relative;
    z-index: 100;
    font-weight: 500;

}

main {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}